{% extends 'base.html' %}
{% load static %}
{% block title %} Profile | Drip54 {% endblock title %}
{% block content %}
<div class="column is-2 is-offset-1 is-hidden-mobile">
    <div class="menu">
        <button class="menu-label button" onclick=showbrands()>
          Brands
        </button>
        <ul class="menu-list" id="brandlist" style="display: none;">
            {% if brands %}
                {% for brand in brands %}
                    <li><a href="{% url 'brand' brand.id %}">{{ brand.brand_name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <button class="menu-label button" onclick=showcategories()>
          Categories
        </button>
        <ul class="menu-list" id="categories" style="display: none;">
            {% if clothetypes %}
                {% for clothetype in clothetypes %}
                    <li><a href="{% url 'type' clothetype.id %}">{{ clothetype.clothtype }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
<div class="column is-8">
  <nav class="breadcrumb">
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="is-active"><a>Profile</a></li>
      </ul>
  </nav>
  {% if message %}
    <div class="notification is-{{messagetype}} has-text-centered" id="notification">
        <p id="notification-content">{{ message }} </p>
    </div>
  {% endif %}
  <br>
  <div class="columns">
    <div class="column is-4 is-offset-1">
        <img src="{% static 'images/profile.jpg' %}" style="border-radius:100%; width:200px; height:200px;">
    </div>
    <div class="column">
        <p class="title is-4 is-justify-content-left">{{ userprofile.firstname }} {{ userprofile.middlename }} {{ userprofile.lastname }}</p>
        <p class="title is-6 is-justify-content-left"><small>+254{{ userprofile.phonenumber }}</small></p>
        <p class="title is-6 is-justify-content-left"><small>{{ userprofile.email }}</small></p>
    </div>
  </div>
  <div class="columns">
        <div class="column is-3">
            <div class="box">
                <p class="menu-label">Address Information</p>
                <p><strong>County:</strong> {% if userprofile.address.county %}{{ userprofile.address.county }}{% else %}Address information not added.{% endif %} </p>
                <br>
                <p><strong>Town or city:</strong> {% if userprofile.address.townorcity %}{{ userprofile.address.townorcity }}{% else %}Address information not added.{% endif %} </p>
            </div>
        </div>
        <div class="column">
            <p class="menu-label">Some of the items in your wishlist</p>
            {% if wishlistproducts %}
            <table class="table" style="width: 100%;">
            {% for product in wishlistproducts  %}
            <tr id="itemrow">
                <td>         
                <figure class="media">
                    <a class="image" href="{% url 'product' product.item.id %}">
                    <img id="cart-thumbnail" src="{{ product.item.product_image.url }}">
                    </a>
                </figure>
                </td>
                <td> {{ product.item.product_name }} </td>
                <td> {{ product.item.product_brand.brand_name }} </td>
                <td> Ksh. {{ product.item.product_price }} </td>
                <td>    
                <a class="button is-small is-outlined is-success" href="{% url 'addtocart' product.item.id %}"><i class="fa fa-plus"></i></a>
                <a class="button is-small is-outlined is-danger" href="{% url 'deletefromwishlist' product.id %}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            </table>
            <center><a href="{% url 'wishlist' %}"><button class="button is-success is-outlined">View wishlist</button></a></center>
            {% else %}
            <p class="subtitle has-text-centered"><small>Add items to your wishlist to see them here.</small></p>
            {% endif %}
            <br>
            <p class="menu-label">Some of the items in your cart</p>
            {% if cartproducts %}
            <table class="table" style="width: 100%;">
            {% for product in cartproducts  %}
            <tr id="itemrow">
                <td>         
                <figure class="media">
                    <a class="image" href="{% url 'product' product.item.id %}">
                    <img id="cart-thumbnail" src="{{ product.item.product_image.url }}">
                    </a>
                </figure>
                </td>
                <td> {{ product.item.product_name }} </td>
                <td> {{ product.item.product_brand.brand_name }} </td>
                <td> Ksh. {{ product.item.product_price }} </td>
                <td>    
                <a class="button is-small is-outlined is-success" href="{% url 'addtocart' product.item.id %}"><i class="fa fa-plus"></i></a>
                <a class="button is-small is-outlined is-danger" href="{% url 'deletefromwishlist' product.id %}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            </table>
            <center><a href="{% url 'cart' %}"><button class="button is-success is-outlined">View cart</button></a></center>
            {% else %}
            <p class="subtitle has-text-centered"><small>Add items to your cart to see them here.</small></p>
            {% endif %}
        </div>
  </div>
</div>
{% endblock content %}